<a href="https://colab.research.google.com/github/Aryamaan23/ML-TOOLBOX/blob/master/Copy_of_quizII_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **Restart and Run All** (in the menubar in colab, select Runtime$\rightarrow$Restart and Run all) 

Make sure you only fill in any place that says `YOUR CODE HERE` and do not make any other changes to the code.<br> If you add any code cells for your own testing. Please delete them before submission.

---

In [ ]:
import math

- Five marks for each question.

## Q1

### Third Largest Element
Write a function that returns the third largest element of a list of integers. (Assume all elements in l will be distinct)

In [ ]:
import sys
def third_largest_element(l):
    """
    Inputs:
        l: list of ints, length of list >=3
    
    Outputs:
        third_largest: int, third largest integer in l
    """
    
    # YOUR CODE HERE
    max1,max2,third_largest=l[0],l[0],l[0]	#Initializing max1,max2,max3 
    for i in l:	#Iterations
     if i>max1:	#Comparison for max1
        third_largest=max2
        max2=max1
        max1=i
     elif i>max2:	#comparison for max2
        third_largest=max2
        max2=i
     elif i>third_largest:	#Comparison for max3
        third_largest=i

    
    return third_largest

In [ ]:
l=[1,2,3,4]
third_largest_element(l)

2

In [ ]:
assert type(third_largest_element([1, 2, 3])) == type(4)

## Q2

### Taylor Series
Taylor Series expansion of $e^x$ upto $n$ terms is as follows <br>
$$
e^x = \sum_{i=0}^{n}{\frac{x^i}{i!}}
$$
where
$i!$ is factorial of $i$ i.e., $1*2*3*\ldots*i$

Write a function that takes arguments $n$ and $x$ and finds value of taylor expansion of $e^x$ upto $n$ terms

In [ ]:
def taylor_expansion_ex(x, n):
    """
    Inputs:
        n: int, n>=0
        x: float
    
    Outputs:
        taylor_exp : float, taylor_expansion of e^x upto n terms
    """
    
    # YOUR CODE HERE 
  
    # initialize sum of series 
    taylor_exp = 1.0 
    for i in range(n, 0, -1): 
        taylor_exp = 1 + x * taylor_exp / i 
    
    
    
    return taylor_exp

In [ ]:
n=10
x=1.0
taylor_expansion_ex(x,n)

2.7182818011463845

In [ ]:
assert type(taylor_expansion_ex(1, 1)) == type(2.)

## Q3

### Armstrong numbers
Armstrong number is a number that is equal to the sum of cubes of its digits. <br>
For eg., $153 = 1^3 + 5^3 + 3^3$

Write a function that takes an argument $n$ and returns list of armstrong numbers between $0$ and $n$ (including $0$ and $n$)(List should be sorted in ascending order)

In [ ]:
def armstrong_numbers(n):
    """
    Inputs:
        n: int
        
    Outputs:
        arm_nums: sorted list of ints, list of armstrong numbers between 0 to n 
    """
    
    # YOUR CODE HERE
  
    # Prints Armstrong Numbers in given range 
    arm_nums=[] 
    for num in range(0, n + 1):

   # order of number
      order=len(str(num))
   # initialize sum
      sum = 0

      temp = num
      if(temp>99):

       while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //=10

       if num == sum:
         arm_nums.append(num)
    return arm_nums

In [ ]:
n=10000
armstrong_numbers(n)

[153, 370, 371, 407, 1634, 8208, 9474]

In [ ]:
assert type(armstrong_numbers(1)) == list

## Q4

### Remove all occurences
Given a list $l$ and element $e$, remove all occurences of $e$ from $l$ and return it.

In [ ]:
def remove_occurences(l, e):
    """
    Inputs:
        l: list
        e: an element of list l (can be of type int, float or str)
    Outputs:
        l_clean: list, same as list l but with all occurences of e removed from it
    """
    
    # YOUR CODE HERE
    l_clean= [value for value in l if value != e]

    
    
    return l_clean

In [ ]:
l=[1,2,3,4,2,2,2,2]
e=2
remove_occurences(l,e)

[1, 3, 4]

In [ ]:
assert type(remove_occurences([1, 2, 3, 4], 2)) == list

## Q5

## Adder function
Write a function that takes an input $a$ and returns a function $f$. <br>
$f$ should take an input $n$ and return the sum of $a$ and $n$.

In [ ]:
def get_adder(a):
    """
    Inputs:
        a: int/float
    Outputs:
        a_adder: function, it is a function that takes an input n, adds a to it and returns it
    """
    
    # YOUR CODE HERE
    def a_adder(b):
      return a+b

    
    
    return a_adder

In [ ]:
a=get_adder(2)
a(3)

5

In [ ]:
assert type(get_adder(2)) == type(lambda x: x)

two_adder = get_adder(2)
assert two_adder(3) == 5