<a href="https://colab.research.google.com/github/Aryamaan23/ML-TOOLBOX/blob/master/Copy_of_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q. Even Sum
Write a function that takes an argument ```n``` and returns sum of all even numbers $2, 4, \ldots$ upto $n$

In [ ]:
total=0
num=2
n=(int)(input())
while(num<=n):
  total=total+num
  num=num+2
print(total)

8
20

#Q. Intersection
Write a function that takes two lists ```l1``` and ```l2``` as arguments and returns a list containing elements that are common to both lists without containing any duplicates.

In [ ]:
def intersection(list1,list2):
  list3=[value for value in list1 if value in list2]
  return list3
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[2,4,6,8,10]
print(intersection(list1,list2))

[2, 4, 6, 8, 10]

#Q. Primality
Write a function that takes a number ```n``` as argument and returns ```True``` if the number is prime and ```False``` otherwise.

In [ ]:
def primality(n):
  if(n==1):
    return False
  elif(n==2):
    return True
  else:
    for x in range(2,n):
      if(n%x==0):
        return False
    return True
n1=(int)(input())
primality(n1)

12

False

#Q. Digit Count and Sum
Write a function that takes a number ```n``` as input and returns a tuple of two values - the number of digits in that number and sum of digits in that number.

In [ ]:
def digcount_sum(n):
   sum=0
   c=0
   while(n!=0):
     d=n%10
     sum=sum+d
     n=(int)(n/10)
     c=c+1
   print((sum,c))
n1=(int)(input())
digcount_sum(n1)

431
(8, 3)

#Q. Reverse Word Order
Write a function that takes as argument a string containing multiple words and returns a string containing the same words in reverse order. \\
Eg., ```input = 'India is a democracy'; output = 'democracy a is India' ```

In [ ]:
def rev(str):
  
  print(' '.join([word for word in reversed(str.split(' '))]))

s=input()
rev(s)

My name is Aryamaan
Aryamaan is name My

#Q. Palindromes
Write a function that takes as argument a string and returns ```True``` if the string is a palindrome and ```False``` otherwise. \\
A palindrome is a string that reads the same backwards and forwards. \\
Eg., ```'aabbaa'``` and ```'aacbbcaa'``` are palindromes. ```'aacca'``` and ```'acab'``` are not. \\
(Ignore whitespace inside strings. For eg., ```'Was It A Rat I Saw'``` is a palindrome)

In [ ]:
def palindromes(s):

  if s == ''.join(reversed(s)):
    return True
  else:
    return False
st=input()
palindromes(st)

aabbaa

True

#Q. Pascal Triangle
Write a function that takes an argument n as input and returns a string containing a pascal triangle of n rows. (https://en.wikipedia.org/wiki/Pascal%27s_triangle)

In [ ]:
def Pascal(n):
   a=[]
   for i in range(n):
     a.append([])
     a[i].append(1)
     for j in range(1,i):
       a[i].append(a[i-1][j-1]+a[i-1][j])
     if(n!=0):
       a[i].append(1)
   for i in range(n):
     print("   "*(n-i),end=" ",sep=" ")
     for j in range(0,i+1):
       print('{0:6}'.format(a[i][j]),end=" ",sep=" ")
     print()

n1=(int)(input())
Pascal(n1)

5
                     1
                  1      1
               1      2      1
            1      3      3      1
         1      4      6      4      1